
#screen-container {
  border: 1px black solid;
  width: fit-content;
}

canvas {
  width: 600px;
  height: 300px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.title {
  text-align: center;
}

#feed {
  float: right;
  resize: none;  
}

#leaderboard {
  float: right;
  resize: none;  
}